	* {
    padding: 0;
    margin: 0;
    font-family: var(--font_Main);
    scroll-behavior: smooth;
    }
    
    body {
		color: var(--text_Main);
		background-color: var(--back_Main);
		font-family: var(--font_Main);
    overflow-x: hidden;
	}

    a {
    text-decoration: none;
    color: var(--back_Alt);
    font-weight: 500;
    z-index: 10;

    &:hover {
        transition: all 0.3s ease-in-out;
        color: var(--extra);
        transform: scale(1.1);
        cursor: pointer;
        text-decoration: underline;
        text-shadow: var(--text_Light);
    }

    }

    h1, h2, h3 {
		padding: 10vh 0 5vh 6vw;
		width: fit-content;
		font-size: var(--f_lg);
	}

  p{
    width: 80vw;
		padding: 10vh 0 5vh 0;
    text-align: left;
  }

    .overLay {
		margin-top: -100vh;
	}

    span{
        color: var(--highlight);
    }

    .add-ons{
      p{
        text-align: center;
        padding: 3%;
      }
    }

    .add-ons {
		li,
		button{
			cursor: pointer;
		}
	}



    @media (min-width: 769px) {
      h1, h3 {
			padding: 18vh 0 5vh 26vw;
		}
    }


    @media (min-width: 1280px) {
    h1, h2, h3 {
			font-size: var(--f_xl);
		padding: 10vh 0 5vh 25vw;
		}
    }